body {
    background-color: #f8f9fa;
  }
  h1 {
    color: #007bff;
  }
  /* Styles pour le logo */
img[src="images/logo.png"] {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px; /* Ajustez la taille du logo selon vos préférences */
  height: auto; /* Conserve les proportions de l'image */
}